/* Variables */
:root {
  --primary-blue: #10a9f0;
  --secondary-blue: #2871b9;
  --light-blue: #eff6fc;
  --white: #ffffff;
  --primary-text: #3b3b3b;
  --secondary-text: #000000;
  --light-text: #696969;
  --danger: #ee1935;
}

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text);
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

/* Helper classes */

.bg-blue {
  background: var(--light-blue);
}

.cl-blue {
  color: var(--secondary-blue);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}

.btn {
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
}

.btn-small {
  font-size: 15px;
  width: 100px;
  padding: 6px 15px;
  border-radius: 20px;
}

.btn-primary {
  background: var(--secondary-blue);
  color: var(--white);
  border: 2px solid var(--secondary-blue);
}

.btn-primary:hover {
  background: var(--white);
  color: var(--secondary-blue);
  border: 2px solid var(--secondary-blue);
  transition: 0.3s;
}

.btn-hollow {
  background: var(--white);
  color: var(--secondary-blue);
  border: 2px solid var(--secondary-blue);
}

.btn-hollow:hover {
  background: var(--secondary-blue);
  color: var(--white);
  border: 2px solid var(--secondary-blue);
  transition: 0.3s;
}

.btn-danger {
  background: var(--danger);
  color: var(--white);
  border: 2px solid var(--danger);
  transition: 0.3s;
}

.btn-danger:hover {
  background: var(--white);
  color: var(--danger);
  border: 2px solid var(--danger);
}

.bb {
  border-bottom: 1px solid #757575;
}

.hidden {
  display: none;
}



.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Header */

.header {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  padding: 0 20px;
  z-index: 1;
  color: var(--secondary-blue);
  background: var(--white);
}

#logo {
  float: left;
}

#logo h1 {
  font-size: 50px;
  font-family: "Ultra", serif;
}

nav {
  float: right;
}

nav ul {
  margin-top: 20px;
}

.side-panel {
  height: 350px;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 0;
  height: 100vh;
  top: 0;
  padding-top: 60px;
  background: var(--secondary-blue);
  overflow-x: hidden;
  transition: 0.5s;
}

#sidepanel a {
  margin-left: 20px;
  color: var(--white);
  font-size: 30px;
}

.current {
  font-weight: bold;
}

#close-btn {
  margin-left: 90%;
  background: transparent;
  color: var(--white);
  border: 0;
  font-size: 50px;
}

.header a {
  color: var(--secondary-blue);
}

nav li {
  display: inline;
  padding: 0 15px;
}

nav li:hover {
  font-weight: 600;
}

/* showcase */

#showcase {
  background: linear-gradient(
      to right bottom,
      rgba(1, 11, 53, 0.9),
      rgba(94, 82, 202, 0.9)
    ),
    url("../img/bg.jpg") no-repeat;
  height: 900px;
  background-size: cover;
  margin: auto;
  color: var(--white);
}

#showcase h1 {
  margin-top: 170px;
  font-size: 30px;
}

.welcome {
  margin-top: 100px;
  width: 40%;
  float: left;
}

/* ads */

.top-ads {
  margin-top: 150px;
  width: 800px;
  float: right;
}

.card {
  background: var(--white);
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.card h3 {
  color: var(--primary-text);
}

.card p {
  margin: 0 5px;
  text-align: left;
  color: var(--secondary-text);
}

.column {
  width: 25%;
  float: left;
  padding: 0 10px;
}

.card-img {
  width: 180px;
  height: 100px;
}

.home-btn {
  padding-left: 15px;
  padding-right: 15px;
  width: 130px;
  background: var(--secondary-blue);
  margin: 15px;
  color: var(--white);
  border: 2px solid var(--secondary-blue);
  border-radius: 1px;
}

.home-btn:hover {
  background: var(--white);
  color: var(--secondary-blue);
  border: 2px solid var(--white);
  transition: 0.3s;
}

.home-btn-hollow {
  padding-left: 15px;
  padding-right: 15px;
  width: 130px;
  background: var(--white);
  margin: 15px;
  color: var(--secondary-blue);
  border: 2px solid var(--white);
  border-radius: 1px;
}

.home-btn-hollow:hover {
  background: var(--secondary-blue);
  color: var(--white);
  border: 2px solid var(--secondary-blue);
  transition: 0.3s;
}

.ads {
  margin-top: 120px;
  width: 60%;
  background: var(--light-blue);
  padding: 10px;
}

.ad {
  background: var(--white);
}

.ad img:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.description {
  font-size: 15px;
}

.car-details {
  margin-left: 10px;
}


/* Top Cars */

.top-cars, .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.top-card, .my-card {
  padding: 15px;
}

.top-img {
  width: 100%;
  height: 330px;
}

/* My Cars*/

.my-ads, .unsold {
  margin-top: 100px;
}

.my-cars {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

.my-card {
  width: 600px;
  background: var(--white);
}

/* form */

.signup,
.login,
.search {
  margin-top: 150px;
  border: 1px solid #d1d1d1;
  width: 320px;
  border-radius: 5px;
  padding: 0 20px;
  background: var(--white);
  color: var(--primary-text);
  text-align: center;
}

.search {
  float: left;
}

.signup {
  float: right;
}

.login {
  background: #f8f8ff;
}

.form-unit,
textarea {
  margin-top: 20px;
  background: transparent;
  font-size: 15px;
}

.form-unit {
  border: 0;
  border-bottom: 1px solid #cecece;
  height: 30px;
}

textarea {
  height: 100px;
  padding: 5px;
  border-radius: 5px;
}

.switch {
  color: var(--primary-text);
}

.switch:hover {
  color: var(--secondary-text);
}

input[type="radio"] {
  margin-right: 24px;
}

input[type="radio"] + label {
  cursor: pointer;
}

select {
  background: transparent;
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
  border-color: #dadada;
  height: 40px;
}

select:focus {
  outline: none;
}

/* Modal */

.modal-div {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.top-modal {
  width: 550px;
  padding: 15px;
}

.modal-image {
  width: 100%;
  height: 300px;
}

.modal-img {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#make, #model {
  font-weight: 600;
}

#make {
  float: left;
}

#state, #status {
  float: right;
  margin-right: 20px;
  right: 0;
}

#state {
  color: #148a53;
}

#status {
  color: #5c5d03;
}

#body-type {
  font-size: 18px;
}

#price {
  color: var(--secondary-text);
}

#description {
  font-size: 14px;
}

/* The Close Button */
#close-modal {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

#close-modal:hover, #close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Modal Contents */

#mod-flag, #mod-edit {
  background: var(--white);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#mod-flag input, .modal-form input,
#mod-edit input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #adadad;
  font-size: 15px;
  padding: 0 5px;
}

.modal-form .btn-small, .del-btn {
  width: 150px;
}

/* Admin Stats */

.stats {
  justify-items: center;
}

.availability {
  border: 2px solid var(--secondary-text);
  width: 300px
}

/* Footer */

footer {
  background: #333;
  color: var(--white);
  padding: 100px;
}

footer a {
  color: #dadada;
}

footer span {
  margin-left: 20px;
}

footer p {
  text-align: right;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (min-height: 1024px) {

  .ads {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-ads {
    width: 100%;
    margin-top: 30px;
  }

  

  #showcase h1 {
    margin-top: 20px;
    font-size: 23px;
  }

  .signup {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    height: 100px;
  }

  #showcase h1 {
    margin-top: 100px;
  }

  #logo {
    margin-top: 7px;
    float: none;
  }

  nav {
    float: none;
  }

  nav ul {
    margin-top: 10px;
  }

  nav li {
    padding: 0;
  }

  #logo h1 {
    font-size: 30px;
  }

  .header li {
    padding: 0 3px;
  }

  .welcome {
    margin-top: 50px;
    width: 100%;
    float: none;
  }

  .top-cars {
    grid-template-columns: 1fr;
  }

  .my-card {
    width: 100%;
  }

  footer p {
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 414px) {

  .ads {
    width: 100%;
  }

  .ad {
  flex-direction: column;
  }

  .modal-img, .modal-form {
    width: 100%;
  }

  #mod-flag, #mod-edit {
    width: 90%;
  }
}
